.heading {
  font-family: 'Nunito Sans', sans-serif;
  margin-bottom: 0;
}

.heading a {
  text-decoration: none;
  color: #1B544B;
  transition: color 200ms ease;
  animation: changeColor 15s ease infinite;
}

@keyframes changeColor {
  0% {
    color: #91C98C;
  }
  25% {
    color: #428562;
  }
  50% {
    color: #3f32ae;
  }
  75% {
    color: #428562;
  }
  100% {
    color: #91C98C;
  }
}