@import "./settings";

$base-headers-h1-font-size: 				toem(46px);
$base-headers-h2-font-size: 				toem(32px);
$base-headers-h3-font-size: 				toem(24px);
$base-headers-h4-font-size: 				toem(22px);
$base-headers-h5-font-size: 				toem(18px);
$base-headers-h6-font-size: 				toem(16px);

html,
button {
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: $base-font;
  font-weight: 400;
  color: $base-font-color;
}

h1 {
  margin: 0;
  font-size: $base-headers-h1-font-size;
  font-weight: $base-font-weight-bold;
  line-height: 1.2;
  text-transform: uppercase;
}

h2 {
  margin: 0;
  font-size: $base-headers-h2-font-size;
  line-height: 1.4;
}

h3 {
  font-size: $base-headers-h3-font-size;
}

h4 {
  font-size: $base-headers-h4-font-size;
}

h5 {
  font-size: $base-headers-h5-font-size;
}

h6 {
  font-size: $base-headers-h6-font-size;
}

strong {
  font-weight: $base-font-weight-bold;
}
